## ........................................Rental property analysis in Germany..............................................
## Task 1a - Data Quality Check
#### 1.Import Libraries
#### 2.Import Data
#### 3.Changing data types
#### 4.Data Quality check for Individual columns
#### 4a.Missing values check
#### 4b.Duplicates check
#### 4c.Mixed type data check

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

# 2. Import Data

In [2]:
# Defining path
path=r'C:\Users\ponni\Achievement 6'

In [3]:
# Import original data
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'immodata_new2.csv'), index_col = False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209292 entries, 0 to 209291
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             209292 non-null  object
 1   City              209292 non-null  object
 2   Pincode           209292 non-null  int64
 3   Year_constructed  209292 non-null  int64
 4   Total_rent        209292 non-null  float64
 5   Base_rent         209292 non-null  float64
 6   Maintenance_fee   209292 non-null  float64
 7   Area(m2)          209292 non-null  float64
 8   Rooms             209292 non-null  int64
 9   Heating_type      181136 non-null  object
 10  House_condition   160460 non-null  object
 11  TV_offer          183252 non-null  object
 12  Newly_built       209292 non-null  bool
 13  Balcony           209292 non-null  bool
 14  Picture_count     209292 non-null  int64
 15  Price_trend       207795 non-null  float64
 16  Kitchen           209292 non-null  bool
 17  Cellar            209292 non-null  bool
 18  Lift              209292 non-null  bool
 19  Flat_type         181648 non-null  object
 20  Floor             173544 non-null  float64
 21  Garden            209292 non-null  bool
dtypes: bool(6), float64(6), int64(4), object(6)
memory usage: 26.7+ MB

# 3. Changing Data types

In [ ]:
# The column floor should be changed to integer
# df['Floor']=df['Floor'].astype(int)
# the output showed that it cant change to integer because it had blank values

In [5]:
# checking for unique values for the column 'Floor'
df['Floor'].value_counts(dropna=False)

 1.0      50173
 2.0      44799
 NaN      35748
 3.0      30101
 0.0      20089
 4.0      16068
 5.0       6908
 6.0       2222
 7.0        908
 8.0        523
 9.0        385
 10.0       338
-1.0        273
 11.0       218
 12.0       129
 13.0       118
 14.0        91
 15.0        57
 16.0        32
 17.0        27
 19.0        15
 21.0        12
 18.0         9
 20.0         9
 80.0         6
 136.0        3
 24.0         3
 23.0         2
 137.0        2
 98.0         2
 22.0         2
 26.0         2
 45.0         1
 29.0         1
 650.0        1
 645.0        1
 105.0        1
 32.0         1
 135.0        1
 41.0         1
 134.0        1
 31.0         1
 138.0        1
 83.0         1
 124.0        1
 139.0        1
 133.0        1
 37.0         1
 25.0         1
 99.0         1
Name: Floor, dtype: int64

In [6]:
# As there are lot of floors with more than 60, making it as a subset of the df
df_filtered_floor=df.loc[df['Floor']>60]
print(df_filtered_floor)

                 State               City  Pincode  Year_constructed  \
2546           Sachsen            Leipzig     4105              1911
6323            Berlin             Berlin    10713              1907
44005          Sachsen            Dresden     1139              1900
44148          Sachsen            Leipzig     4105              1911
46113          Sachsen            Leipzig     4105              1911
58835          Sachsen            Dresden     1309              1993
82212          Sachsen            Dresden     1067              1950
82404          Sachsen            Leipzig     4105              1911
96554   Sachsen_Anhalt        Halle_Saale     6108              1910
105124         Sachsen            Dresden     1277              1910
118808          Berlin             Berlin    12207              1990
122257          Berlin             Berlin    12355              1977
139541          Hessen  Main_Kinzig_Kreis    63457              1967
140226       Thüringen             Erfurt    99089              1900
148875          Bayern              Fürth    90763              1911
153492       Thüringen             Erfurt    99089              1950
155692          Berlin             Berlin    12249              1983
156841          Hessen  Frankfurt_am_Main    60438              2018
161120       Thüringen             Erfurt    99092              1970
168469       Thüringen             Erfurt    99089              1900
172082     Brandenburg            Potsdam    14482              2010
190340         Sachsen            Dresden     1277              1910
192764       Thüringen             Erfurt    99099              1936
204277         Sachsen            Dresden     1277              1910

        Total_rent  Base_rent  Maintenance_fee  Area(m2)  Rooms  \
2546        525.39     406.54           118.85     52.12      2
6323       1270.00    1100.00           170.00     94.13      4
44005       989.09     821.19           167.90     96.61      4
44148       575.32     426.16           149.16     60.88      2
46113       680.20     477.98           202.22     61.28      2
58835       860.85     661.72           199.13     76.06      2
82212       865.98     705.98           160.00     64.18      2
82404       489.34     336.57           152.77     51.78      2
96554       630.00     472.50           157.50     70.00      2
105124      582.21     439.10           143.11     54.21      2
118808     1644.00    1249.00           395.00    119.19      4
122257      717.46     483.86           151.65     76.56      3
139541      701.00     510.00           191.00     53.65      2
140226      772.00     601.00           116.00     67.08      2
148875      725.00     645.00            80.00     80.00      3
153492      530.00     430.00            59.00     47.90      2
155692      664.65     378.47           202.01     55.01      2
156841     1018.35     835.17           183.18     67.90      2
161120      313.00     243.00            45.00     33.20      1
168469      482.00     388.00            60.00     45.23      2
172082     2326.18    1914.84           295.12    157.48      5
190340      744.28     561.33           182.95     69.30      2
192764      562.00     448.00            75.00     52.48      2
204277      520.68     392.69           127.99     48.48      2

                          Heating_type  ... Newly_built Balcony  \
2546                       gas_heating  ...       False   False
6323    self_contained_central_heating  ...       False    True
44005                 district_heating  ...       False   False
44148                      gas_heating  ...       False    True
46113                      gas_heating  ...       False    True
58835                 district_heating  ...       False    True
82212                 district_heating  ...       False    True
82404                      gas_heating  ...       False   False
96554                      gas_heating  ...       False   False
105124                district_heating  ...       False   False
118808                             NaN  ...       False    True
122257                             NaN  ...       False   False
139541                     gas_heating  ...       False    True
140226                             NaN  ...       False   False
148875                 central_heating  ...       False   False
153492                             NaN  ...       False   False
155692                             NaN  ...       False   False
156841                district_heating  ...        True    True
161120                             NaN  ...       False   False
168469                             NaN  ...       False   False
172082                             NaN  ...       False   False
190340                             NaN  ...       False   False
192764                             NaN  ...       False   False
204277                             NaN  ...       False   False

        Picture_count  Price_trend  Kitchen  Cellar   Lift  Flat_type  Floor  \
2546                5         4.39    False    True   True  apartment  136.0
6323               17         8.57    False   False  False        NaN   83.0
44005              10         2.08    False    True   True  apartment  133.0
44148               5         4.84    False    True   True  apartment  137.0
46113               7         4.39    False    True   True  apartment  139.0
58835              11         2.01    False   False   True  apartment  124.0
82212               7         2.11    False   False   True  apartment  138.0
82404               5         5.13    False    True   True  apartment  134.0
96554               6         3.14     True   False  False  apartment  136.0
105124              4         1.50    False   False  False  apartment  135.0
118808             20         5.92    False   False   True        NaN   80.0
122257              3         5.60    False   False  False        NaN   80.0
139541              4         4.96    False    True   True  apartment  105.0
140226              5         4.05    False   False  False        NaN   98.0
148875              1         5.01    False   False  False        NaN  645.0
153492              4         2.60    False   False  False        NaN   80.0
155692              3         6.01    False   False  False        NaN   80.0
156841              6          NaN    False    True  False        NaN  650.0
161120              5         3.78    False   False  False        NaN   80.0
168469              5         2.79    False   False  False        NaN   80.0
172082              5         5.49    False   False  False        NaN   99.0
190340              2         1.50    False   False  False  apartment  137.0
192764             10         2.40    False   False  False        NaN   98.0
204277              2         1.50    False   False  False  apartment  136.0

       Garden
2546    False
6323    False
44005   False
44148   False
46113   False
58835   False
82212   False
82404   False
96554   False
105124  False
118808   True
122257  False
139541  False
140226  False
148875  False
153492  False
155692  False
156841  False
161120  False
168469  False
172082  False
190340  False
192764  False
204277  False

[24 rows x 22 columns]

In [7]:
# replacing all the floor values more than 60 with the flag value 999
df.loc[df['Floor']>60, 'Floor']=999

#### Germany doesnt have a larger number of high raised building. The tallest building in Germany has 61 Floors. So, considering that as a baseline, i have converted all fllors more than 60 with the flag value 999.

In [8]:
df['Floor']=df['Floor'].fillna(999)

In [9]:
df['Floor'].value_counts(dropna=False)

 1.0      50173
 2.0      44799
 999.0    35772
 3.0      30101
 0.0      20089
 4.0      16068
 5.0       6908
 6.0       2222
 7.0        908
 8.0        523
 9.0        385
 10.0       338
-1.0        273
 11.0       218
 12.0       129
 13.0       118
 14.0        91
 15.0        57
 16.0        32
 17.0        27
 19.0        15
 21.0        12
 20.0         9
 18.0         9
 24.0         3
 26.0         2
 23.0         2
 22.0         2
 25.0         1
 37.0         1
 32.0         1
 31.0         1
 45.0         1
 41.0         1
 29.0         1
Name: Floor, dtype: int64

In [10]:
# The column floor should be changed to integer
df['Floor']=df['Floor'].astype(int)

#### All the columns have been checked for data types

# 4. Data Quality check for individual columns

In [11]:
#checking the next column 'Total_rent'
df.loc[df['Total_rent'] > 13400]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Newly_built,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden
44810,Bayern,München,80538,2016,15000.00,13000.00,1550.0,269.00,5,NaN,...,False,True,12,4.89,True,False,True,NaN,999,False
47807,Berlin,Berlin,14195,2008,15500.00,12000.00,3500.0,364.00,4,gas_heating,...,False,True,19,7.69,True,True,True,penthouse,3,True
127505,Berlin,Berlin,10117,2012,15000.00,15000.00,0.0,456.00,4,district_heating,...,False,True,27,8.77,True,True,True,other,999,False
138210,Berlin,Berlin,10117,2017,19600.00,15800.00,3800.0,565.00,5,central_heating,...,False,True,35,8.55,True,True,True,NaN,999,True
148246,Berlin,Berlin,10785,2004,26500.00,20000.00,6500.0,566.00,5,central_heating,...,False,False,30,8.28,True,False,True,apartment,17,False
162973,Berlin,Berlin,13357,2018,13500.00,1050.00,180.0,79.60,2,central_heating,...,True,True,12,11.01,False,False,False,loft,5,False
175853,Berlin,Berlin,10117,2011,16800.00,16000.00,800.0,456.00,4,central_heating,...,False,True,30,8.55,True,False,True,apartment,0,False
178359,Berlin,Berlin,10117,2012,16800.00,16000.00,800.0,456.00,4,central_heating,...,False,True,16,8.55,True,True,True,loft,4,True
187698,Sachsen_Anhalt,Harz_Kreis,38820,1987,37600.00,266.00,110.0,49.00,2,central_heating,...,False,False,4,0.75,False,True,False,apartment,5,False
188366,Berlin,Berlin,14195,2008,15500.00,12000.00,3500.0,364.63,4,floor_heating,...,False,True,18,6.26,True,True,True,penthouse,3,True
189832,Nordrhein_Westfalen,Essen,45133,1984,145000.00,120000.00,25000.0,14000.00,3,floor_heating,...,False,True,12,3.61,False,True,False,apartment,1,False
195093,Bayern,München,80539,2015,20466.12,17781.12,2685.0,362.88,5,NaN,...,False,True,14,7.43,True,False,True,NaN,999,False
205173,Niedersachsen,Hannover_Kreis,30966,1989,19998.00,9999.00,9999.0,97.60,3,central_heating,...,False,True,13,4.27,True,True,False,terraced_flat,0,True

In [12]:
# Replacing 2 values in the total rent column 
df['Total_rent'] = df['Total_rent'].replace(13500,1230)
df['Total_rent'] = df['Total_rent'].replace(37600,376)
# The outlier value was fixed by adding the base rent and maintence_fee.

In [13]:
# Removing 2 values in the total rent column where the values are unnatural
df=df.drop(205173)
df=df.drop(189832)

In [14]:
# checking for outlier values
df.loc[df['Total_rent'] <100]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Newly_built,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden
160,Sachsen,Zwickau,8058,1900,90.0,0.0,90.0,45.34,2,central_heating,...,False,False,7,0.00,False,False,False,apartment,1,False
9335,Sachsen,Chemnitz,9113,1920,25.0,25.0,0.0,12.50,1,central_heating,...,False,False,6,0.19,False,False,False,NaN,999,False
9877,Niedersachsen,Osterode_am_Harz_Kreis,37520,1958,25.0,25.0,0.0,46.59,2,self_contained_central_heating,...,False,True,7,2.21,True,False,False,apartment,1,False
14379,Bayern,Mühldorf_am_Inn_Kreis,84453,2019,50.0,50.0,0.0,20.00,1,district_heating,...,True,False,0,4.70,False,False,False,other,999,False
14437,Sachsen,Chemnitz,9130,1920,0.0,0.0,0.0,0.00,2,central_heating,...,False,False,1,0.00,False,False,False,NaN,999,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197487,Baden_Württemberg,Konstanz_Kreis,78239,2015,0.0,0.0,0.0,120.00,3,central_heating,...,False,False,49,3.00,False,False,False,loft,999,False
200425,Niedersachsen,Leer_Kreis,26831,2000,65.0,65.0,0.0,70.00,3,central_heating,...,False,True,16,3.10,True,False,False,apartment,1,True
203745,Sachsen,Leipzig,4315,1899,97.0,99.0,15.0,20.00,1,central_heating,...,False,False,22,5.36,False,False,False,apartment,3,False
204039,Bayern,Regen_Kreis,94234,2016,1.0,1.0,0.0,187.70,4,NaN,...,False,False,8,8.16,False,False,False,maisonette,0,False
204940,Sachsen,Erzgebirgskreis,8359,1950,3.0,250.0,120.0,46.00,2,NaN,...,False,False,5,0.00,False,True,False,ground_floor,999,False

In [15]:
# Exporting the data 
df.to_csv(os.path.join(path,'02 Data','Prepared Data','immodata_new3.csv'))

In [16]:
# add a new column to the DataFrame that is the sum of Base_rent and Maintenance_fee
df1 = df.assign(Rent = df['Base_rent'].add(df['Maintenance_fee']))

# print the new DataFrame with the added column
print(df1)

                      State                     City  Pincode  \
0       Nordrhein_Westfalen                 Dortmund    44269
1           Rheinland_Pfalz        Rhein_Pfalz_Kreis    67459
2                   Sachsen                  Dresden     1097
3                   Sachsen      Mittelsachsen_Kreis     9599
4                    Bremen                   Bremen    28213
...                     ...                      ...      ...
209287               Bayern  Weilheim_Schongau_Kreis    82390
209288               Hessen         Bergstraße_Kreis    68519
209289               Hessen   Limburg_Weilburg_Kreis    65552
209290  Nordrhein_Westfalen                     Köln    51069
209291               Hessen        Frankfurt_am_Main    65936

        Year_constructed  Total_rent  Base_rent  Maintenance_fee  Area(m2)  \
0                   1965      840.00      595.0           245.00     86.00
1                   1871      934.00      800.0           134.00     89.00
2                   2019     1300.00      965.0           255.00     83.80
3                   1964      401.15      343.0            58.15     58.15
4                   1950      903.00      765.0           138.00     84.97
...                  ...         ...        ...              ...       ...
209287              2016      910.00      820.0            90.00     90.00
209288              1983     1150.00      930.0           220.00    115.00
209289              1965      930.00      650.0           220.00     95.00
209290              2019     1015.00      840.0           175.00     70.00
209291              1972     1250.00      935.0           315.00     77.00

        Rooms                    Heating_type  ... Balcony Picture_count  \
0           4                 central_heating  ...   False             6
1           3  self_contained_central_heating  ...    True             8
2           3                   floor_heating  ...    True             8
3           3                district_heating  ...    True             9
4           3  self_contained_central_heating  ...    True            19
...       ...                             ...  ...     ...           ...
209287      3                       heat_pump  ...    True             0
209288      3                     gas_heating  ...    True            12
209289      4                 central_heating  ...    True            21
209290      2                       heat_pump  ...    True            16
209291      3                 central_heating  ...    True             9

        Price_trend  Kitchen  Cellar   Lift     Flat_type  Floor  Garden  \
0              4.62    False    True  False  ground_floor      1    True
1              3.47    False   False  False  ground_floor    999   False
2              2.72    False    True   True     apartment      3   False
3              1.53    False   False  False         other      3   False
4              2.46    False   False  False     apartment      1   False
...             ...      ...     ...    ...           ...    ...     ...
209287         2.74    False    True  False   roof_storey    999   False
209288         6.49     True   False  False     apartment      1   False
209289         2.90    False    True  False     apartment      1    True
209290         4.39    False    True   True     apartment    999   False
209291         5.00     True    True   True     apartment    999   False

           Rent
0        840.00
1        934.00
2       1220.00
3        401.15
4        903.00
...         ...
209287   910.00
209288  1150.00
209289   870.00
209290  1015.00
209291  1250.00

[209290 rows x 23 columns]

In [17]:
# checking for outlier values in Total_rent and Rent column
rows_to_drop = df1.loc[df1['Total_rent'] == 0].index

# drop the selected rows in the original dataframe
df1 = df1.drop(rows_to_drop)

In [18]:
# checking for outlier values in Total_rent and Rent column
df1.loc[df1['Total_rent']==1]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden,Rent
135581,Nordrhein_Westfalen,Wuppertal,42111,2009,1.0,1087.0,325.0,81.0,2,central_heating,...,True,13,1.54,True,True,True,penthouse,2,True,1412.0
188350,Niedersachsen,Harburg_Kreis,21423,2019,1.0,1111.0,245.0,101.0,3,central_heating,...,True,11,3.70,True,False,True,apartment,1,False,1356.0
204039,Bayern,Regen_Kreis,94234,2016,1.0,1.0,0.0,187.7,4,NaN,...,False,8,8.16,False,False,False,maisonette,0,False,1.0

In [19]:
# dropping the unwanted values
df1=df1.drop(204039)

In [20]:
df1.loc[df1['Total_rent']<10]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden,Rent
57153,Hessen,Lahn_Dill_Kreis,35683,1953,2.00,315.0,385.0,45.02,2,gas_heating,...,False,10,3.75,False,True,False,apartment,1,True,700.0
75120,Sachsen_Anhalt,Dessau_Roßlau,6842,1998,3.00,230.0,60.0,42.00,1,self_contained_central_heating,...,False,7,2.62,True,True,False,apartment,1,True,290.0
96670,Bremen,Bremen,28717,1942,9.00,9.0,0.0,80.00,2,central_heating,...,False,17,1.68,True,False,False,apartment,999,False,9.0
99146,Brandenburg,Oberhavel_Kreis,16515,2018,1.01,874.0,70.0,76.00,3,floor_heating,...,True,8,7.75,False,False,True,apartment,4,True,944.0
135581,Nordrhein_Westfalen,Wuppertal,42111,2009,1.00,1087.0,325.0,81.00,2,central_heating,...,True,13,1.54,True,True,True,penthouse,2,True,1412.0
138011,Bayern,Pfaffenhofen_an_der_Ilm_Kreis,85077,2017,2.00,1196.0,220.0,104.00,4,wood_pellet_heating,...,True,2,6.08,False,True,True,apartment,3,False,1416.0
146304,Nordrhein_Westfalen,Siegen_Wittgenstein_Kreis,57076,1964,6.00,442.0,109.0,64.04,3,central_heating,...,True,3,2.61,False,True,False,apartment,1,False,551.0
156634,Nordrhein_Westfalen,Soest_Kreis,59558,2019,8.00,8.0,0.0,72.00,3,NaN,...,True,11,4.71,False,False,False,other,999,False,8.0
158218,Nordrhein_Westfalen,Rhein_Sieg_Kreis,53819,2019,1.30,890.0,150.0,91.00,2,floor_heating,...,False,6,3.99,False,False,False,other,1,False,1040.0
162701,Nordrhein_Westfalen,Hochsauerlandkreis,59929,2020,8.00,8.0,0.0,0.00,1,floor_heating,...,True,1,3.03,False,True,True,NaN,999,False,8.0
188350,Niedersachsen,Harburg_Kreis,21423,2019,1.00,1111.0,245.0,101.00,3,central_heating,...,True,11,3.70,True,False,True,apartment,1,False,1356.0
194452,Nordrhein_Westfalen,Rhein_Sieg_Kreis,53819,2019,1.30,960.0,150.0,91.00,2,floor_heating,...,False,5,3.92,False,False,False,other,1,False,1110.0
204940,Sachsen,Erzgebirgskreis,8359,1950,3.00,250.0,120.0,46.00,2,NaN,...,False,5,0.00,False,True,False,ground_floor,999,False,370.0

In [21]:
# dropping the unwanted values
df1=df1.drop(96670)
df1=df1.drop(156634)
df1=df1.drop(162701)

In [22]:
df1.loc[df1['Rent']==0]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden,Rent
1063,Saarland,Saarlouis_Kreis,66740,1956,700.0,0.0,0.0,30.00,1,NaN,...,False,7,2.46,False,False,False,apartment,999,False,0.0
15383,Bayern,Aschaffenburg,63741,1972,470.0,0.0,0.0,20.00,1,district_heating,...,True,6,5.12,True,True,False,ground_floor,0,False,0.0
26748,Bayern,Deggendorf_Kreis,94447,1956,320.0,0.0,0.0,18.00,1,central_heating,...,False,3,3.72,False,True,False,apartment,999,False,0.0
33131,Nordrhein_Westfalen,Bonn,53123,1954,1200.0,0.0,0.0,66.15,3,central_heating,...,False,11,4.60,True,False,False,apartment,1,False,0.0
47205,Bayern,Deggendorf_Kreis,94447,1930,220.0,0.0,0.0,10.00,1,central_heating,...,False,5,3.17,True,False,False,apartment,999,False,0.0
51433,Rheinland_Pfalz,Südliche_Weinstraße_Kreis,76831,1901,79.0,0.0,0.0,110.00,2,central_heating,...,False,15,3.54,False,False,False,raised_ground_floor,999,False,0.0
60727,Baden_Württemberg,Konstanz_Kreis,78351,2008,760.0,0.0,0.0,65.00,3,central_heating,...,False,17,3.16,False,False,False,ground_floor,1,False,0.0
67370,Baden_Württemberg,Göppingen_Kreis,73061,1979,890.0,0.0,0.0,72.00,2,NaN,...,True,9,6.17,False,False,False,apartment,999,False,0.0
73022,Baden_Württemberg,Bodenseekreis,88090,1962,500.0,0.0,0.0,45.00,2,NaN,...,False,11,1.83,False,False,False,roof_storey,999,False,0.0
92681,Nordrhein_Westfalen,Wesel_Kreis,46519,1992,600.0,0.0,0.0,62.00,2,NaN,...,False,13,2.78,True,False,False,roof_storey,999,True,0.0
100447,Niedersachsen,Cloppenburg_Kreis,26169,2000,695.0,0.0,0.0,96.00,4,central_heating,...,False,12,3.70,False,False,False,apartment,999,False,0.0
111853,Bayern,Weißenburg_Gunzenhausen_Kreis,91757,1958,550.0,0.0,0.0,60.00,2,central_heating,...,False,6,4.57,True,True,False,roof_storey,999,True,0.0
117632,Niedersachsen,Diepholz_Kreis,27232,1971,600.0,0.0,0.0,75.00,2,central_heating,...,True,17,2.74,True,False,False,roof_storey,999,False,0.0
127174,Baden_Württemberg,Bodenseekreis,88090,1993,750.0,0.0,0.0,56.00,2,floor_heating,...,False,11,4.21,False,False,False,ground_floor,999,False,0.0
138013,Niedersachsen,Aurich_Kreis,26603,1898,390.0,0.0,0.0,43.00,1,central_heating,...,False,5,2.86,False,False,False,roof_storey,999,False,0.0
152290,Berlin,Berlin,12159,1956,1100.0,0.0,0.0,44.00,1,central_heating,...,False,18,9.62,True,False,True,apartment,6,False,0.0
153889,Niedersachsen,Lüneburg_Kreis,21394,1969,650.0,0.0,0.0,74.00,2,central_heating,...,False,10,2.68,False,False,False,roof_storey,999,False,0.0
160412,Nordrhein_Westfalen,Warendorf_Kreis,59227,1962,480.0,0.0,0.0,43.00,2,central_heating,...,False,5,3.21,False,True,False,roof_storey,999,False,0.0
174702,Bayern,Bad_Kissingen_Kreis,97769,1987,325.0,0.0,0.0,28.00,1,central_heating,...,False,5,5.03,False,False,False,half_basement,999,False,0.0
175431,Sachsen,Dresden,1129,1910,695.0,0.0,0.0,45.00,1,central_heating,...,False,14,1.30,True,False,False,raised_ground_floor,999,True,0.0
180061,Bayern,Aschaffenburg,63739,1910,250.0,0.0,0.0,0.00,1,gas_heating,...,False,5,6.15,False,False,False,roof_storey,4,False,0.0
185389,Schleswig_Holstein,Nordfriesland_Kreis,25836,1880,650.0,0.0,0.0,57.00,2,central_heating,...,True,13,6.63,True,False,False,ground_floor,999,False,0.0
192152,Niedersachsen,Wesermarsch_Kreis,26931,2005,290.0,0.0,0.0,17.00,1,central_heating,...,True,12,1.85,False,False,False,apartment,1,True,0.0

In [23]:
# replace 0 values in Rent with corresponding values from Total_rent 
df1.loc[df1['Rent'] == 0, 'Rent'] = df1.loc[df1['Rent'] == 0, 'Total_rent']

In [24]:
df1.loc[df1['Rent']<100]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden,Rent
160,Sachsen,Zwickau,8058,1900,90.00,0.00,90.0,45.34,2,central_heating,...,False,7,0.00,False,False,False,apartment,1,False,90.00
9335,Sachsen,Chemnitz,9113,1920,25.00,25.00,0.0,12.50,1,central_heating,...,False,6,0.19,False,False,False,NaN,999,False,25.00
9877,Niedersachsen,Osterode_am_Harz_Kreis,37520,1958,25.00,25.00,0.0,46.59,2,self_contained_central_heating,...,True,7,2.21,True,False,False,apartment,1,False,25.00
14379,Bayern,Mühldorf_am_Inn_Kreis,84453,2019,50.00,50.00,0.0,20.00,1,district_heating,...,False,0,4.70,False,False,False,other,999,False,50.00
15196,Baden_Württemberg,Pforzheim,75177,1954,50.00,50.00,0.0,3.00,1,NaN,...,False,1,4.39,False,True,False,other,-1,False,50.00
17903,Niedersachsen,Diepholz_Kreis,28816,1994,57.00,57.00,0.0,62.00,2,NaN,...,False,9,3.73,True,False,False,ground_floor,999,False,57.00
43091,Mecklenburg_Vorpommern,Schwerin,19055,1900,400.00,0.00,95.0,47.00,1,central_heating,...,False,7,4.23,True,True,False,apartment,1,False,95.00
49721,Baden_Württemberg,Pforzheim,75175,1964,50.00,50.00,0.0,7.70,1,NaN,...,False,3,4.69,False,True,False,other,-1,False,50.00
51433,Rheinland_Pfalz,Südliche_Weinstraße_Kreis,76831,1901,79.00,0.00,0.0,110.00,2,central_heating,...,False,15,3.54,False,False,False,raised_ground_floor,999,False,79.00
65622,Baden_Württemberg,Karlsruhe,76133,2009,49.90,49.90,0.0,36.00,1,NaN,...,False,12,3.96,True,False,True,other,999,False,49.90
72003,Bayern,Ostallgäu_Kreis,87629,1992,75.00,75.00,0.0,15.00,1,central_heating,...,False,2,4.76,False,False,False,half_basement,999,False,75.00
73733,Baden_Württemberg,Mannheim,68167,1910,75.00,75.00,0.0,0.00,1,district_heating,...,False,2,4.58,False,False,False,other,0,False,75.00
85176,Baden_Württemberg,Heidelberg,69126,2020,14.00,14.00,0.0,116.00,3,central_heating,...,True,5,4.93,False,True,True,NaN,1,False,14.00
97969,Nordrhein_Westfalen,Dortmund,44143,1970,70.00,60.00,10.0,10.00,1,central_heating,...,False,0,2.78,False,False,False,NaN,999,False,70.00
101992,Bayern,Mühldorf_am_Inn_Kreis,84453,2017,25.00,25.00,0.0,12.00,1,central_heating,...,False,21,3.03,True,False,False,other,999,False,25.00
111683,Niedersachsen,Wilhelmshaven,26382,1900,45.00,45.00,0.0,85.00,4,NaN,...,False,8,5.25,True,False,False,ground_floor,999,False,45.00
112045,Niedersachsen,Lüneburg_Kreis,21357,2015,484.00,0.00,99.0,32.49,1,central_heating,...,False,4,2.81,True,False,True,ground_floor,999,False,99.00
117592,Brandenburg,Märkisch_Oderland_Kreis,15344,1997,29.75,29.75,0.0,1.00,1,NaN,...,False,2,3.96,False,False,False,other,999,False,29.75
124959,Niedersachsen,Wilhelmshaven,26382,1900,45.00,45.00,0.0,85.00,4,NaN,...,False,8,5.35,True,False,False,ground_floor,999,False,45.00
126586,Sachsen_Anhalt,Halle_Saale,6128,1975,120.00,0.00,60.0,48.50,1,central_heating,...,False,1,2.13,False,False,False,NaN,1,False,60.00
130876,Baden_Württemberg,Mannheim,68167,1910,60.00,60.00,0.0,8.00,1,central_heating,...,False,1,4.58,False,False,False,other,0,False,60.00
137707,Niedersachsen,Osterode_am_Harz_Kreis,37412,1975,25.00,25.00,0.0,47.24,1,NaN,...,True,9,2.08,True,False,False,ground_floor,999,False,25.00
145262,Baden_Württemberg,Ortenaukreis,77704,1994,50.00,50.00,0.0,10.00,1,NaN,...,False,3,3.43,False,False,False,raised_ground_floor,999,False,50.00
145621,Niedersachsen,Wilhelmshaven,26382,1895,12.00,12.00,0.0,34.00,2,central_heating,...,False,7,3.30,True,False,False,ground_floor,0,False,12.00
160642,Bayern,Nürnberg,90429,1990,28.00,28.00,0.0,12.00,1,central_heating,...,False,14,5.11,True,False,True,apartment,1,True,28.00
162112,Niedersachsen,Holzminden_Kreis,37603,2020,12.50,12.50,0.0,60.00,2,floor_heating,...,True,16,2.21,False,False,False,apartment,999,False,12.50
162407,Nordrhein_Westfalen,Essen,45355,1984,50.00,50.00,0.0,20.00,1,district_heating,...,False,1,2.90,False,False,False,other,0,False,50.00
175095,Bayern,Neuburg_Schrobenhausen_Kreis,86706,1970,30.00,30.00,0.0,10.00,1,central_heating,...,True,19,1.98,True,False,False,NaN,999,False,30.00
177683,Bayern,Oberallgäu_Kreis,87534,1980,70.00,65.00,0.0,65.00,2,gas_heating,...,True,17,4.22,True,False,False,apartment,1,False,65.00
189567,Schleswig_Holstein,Rendsburg_Eckernförde_Kreis,24119,2013,60.00,60.00,0.0,0.00,1,district_heating,...,False,0,4.14,False,False,False,other,0,False,60.00
200425,Niedersachsen,Leer_Kreis,26831,2000,65.00,65.00,0.0,70.00,3,central_heating,...,True,16,3.10,True,False,False,apartment,1,True,65.00

In [25]:
# replace <100 values in Rent with corresponding values from Total_rent 
df1.loc[df1['Rent'] < 100, 'Rent'] = df1.loc[df1['Rent'] < 100, 'Total_rent']

In [26]:
df1.describe()

,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Picture_count,Price_trend,Floor,Rent
count,209274.000000,209274.000000,209274.000000,209274.000000,209274.000000,209274.000000,209274.000000,209274.000000,207777.000000,209274.000000,209274.000000
mean,37202.496335,1967.950510,825.412200,656.422702,150.033744,74.213511,2.587216,9.840726,3.409473,172.469972,806.522957
std,27620.734570,38.450607,582.835138,524.495345,337.723352,152.039769,0.924916,6.402030,1.968163,375.227730,670.396255
min,1057.000000,1803.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-12.330000,-1.000000,12.000000
25%,9131.000000,1950.000000,467.500000,336.802500,92.000000,54.860000,2.000000,6.000000,2.010000,1.000000,446.070000
50%,38667.000000,1973.000000,650.000000,491.555000,135.000000,67.500000,3.000000,9.000000,3.390000,2.000000,630.000000
75%,56170.000000,1996.000000,999.000000,807.000000,190.000000,86.930000,3.000000,13.000000,4.570000,4.000000,985.000000
max,99994.000000,2022.000000,26500.000000,30990.000000,146118.000000,66100.000000,5.000000,121.000000,14.920000,999.000000,146766.290000

In [27]:
df1.loc[df1['Rent']>10000]

,State,City,Pincode,Year_constructed,Total_rent,Base_rent,Maintenance_fee,Area(m2),Rooms,Heating_type,...,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden,Rent
1270,Hessen,Frankfurt_am_Main,60487,2019,11200.00,10000.00,1200.0,440.00,5,central_heating,...,True,3,5.10,True,True,True,apartment,1,False,11200.00
11058,Hessen,Frankfurt_am_Main,60322,1900,13400.00,12000.00,1400.0,600.00,5,self_contained_central_heating,...,True,2,5.13,False,False,True,maisonette,4,False,13400.00
20157,Nordrhein_Westfalen,Bochum,44809,1928,794.29,648.29,146118.0,117.87,3,self_contained_central_heating,...,False,6,4.74,False,True,False,apartment,1,False,146766.29
29834,Hamburg,Hamburg,20457,2018,11900.00,10500.00,2000.0,207.07,5,district_heating,...,True,20,NaN,False,True,True,apartment,23,False,12500.00
44810,Bayern,München,80538,2016,15000.00,13000.00,1550.0,269.00,5,NaN,...,True,12,4.89,True,False,True,NaN,999,False,14550.00
47807,Berlin,Berlin,14195,2008,15500.00,12000.00,3500.0,364.00,4,gas_heating,...,True,19,7.69,True,True,True,penthouse,3,True,15500.00
51270,Berlin,Berlin,10629,1900,9774.00,9500.00,760.0,274.00,5,NaN,...,True,16,6.83,True,True,True,roof_storey,999,False,10260.00
55647,Berlin,Berlin,12209,2018,11216.00,10816.00,400.0,416.00,5,heat_pump,...,True,34,8.01,True,False,True,NaN,0,True,11216.00
55685,Bayern,München,80333,2008,12900.00,10700.00,2200.0,277.00,4,central_heating,...,True,5,7.43,True,True,True,apartment,4,False,12900.00
75298,Bayern,München,81675,2015,12000.00,11400.00,600.0,427.00,5,central_heating,...,True,17,5.71,True,True,False,loft,6,False,12000.00
88044,Bayern,München,81925,2019,11480.00,10700.00,780.0,236.60,5,floor_heating,...,True,14,5.23,True,True,True,penthouse,3,True,11480.00
92694,Nordrhein_Westfalen,Düsseldorf,40545,2013,13344.00,12000.00,1344.0,420.00,5,gas_heating,...,True,16,3.45,True,True,True,penthouse,4,False,13344.00
113091,Nordrhein_Westfalen,Minden_Lübbecke_Kreis,32549,2013,530.00,346.08,20392.0,65.27,2,central_heating,...,True,9,5.17,False,True,True,ground_floor,0,True,20738.08
120074,Sachsen,Dresden,1237,2018,732.00,567.00,15750.0,63.00,2,floor_heating,...,True,6,1.53,False,True,True,ground_floor,0,True,16317.00
120828,Hessen,Frankfurt_am_Main,60487,2019,11700.00,10500.00,1200.0,405.00,5,central_heating,...,True,3,5.10,True,True,True,apartment,2,False,11700.00
127505,Berlin,Berlin,10117,2012,15000.00,15000.00,0.0,456.00,4,district_heating,...,True,27,8.77,True,True,True,other,999,False,15000.00
137704,Bremen,Bremen,28277,1957,449.90,30990.00,78.0,47.67,3,central_heating,...,False,2,4.62,False,True,False,roof_storey,2,False,31068.00
138210,Berlin,Berlin,10117,2017,19600.00,15800.00,3800.0,565.00,5,central_heating,...,True,35,8.55,True,True,True,NaN,999,True,19600.00
139011,Sachsen_Anhalt,Stendal_Kreis,39576,1909,341.28,240.90,10038.0,40.15,1,district_heating,...,False,11,2.48,False,False,False,NaN,1,False,10278.90
148246,Berlin,Berlin,10785,2004,26500.00,20000.00,6500.0,566.00,5,central_heating,...,False,30,8.28,True,False,True,apartment,17,False,26500.00
152966,Berlin,Berlin,10179,1998,13000.00,12000.00,600.0,300.00,4,district_heating,...,True,14,8.70,True,True,True,apartment,3,True,12600.00
166380,Bayern,München,80538,1892,2390.00,20100.00,140.0,110.00,3,central_heating,...,True,15,6.49,False,True,False,apartment,3,False,20240.00
174255,Berlin,Berlin,10117,2008,12300.00,11000.00,1300.0,403.00,4,central_heating,...,True,16,8.70,True,True,False,apartment,0,False,12300.00
175853,Berlin,Berlin,10117,2011,16800.00,16000.00,800.0,456.00,4,central_heating,...,True,30,8.55,True,False,True,apartment,0,False,16800.00
178359,Berlin,Berlin,10117,2012,16800.00,16000.00,800.0,456.00,4,central_heating,...,True,16,8.55,True,True,True,loft,4,True,16800.00
188366,Berlin,Berlin,14195,2008,15500.00,12000.00,3500.0,364.63,4,floor_heating,...,True,18,6.26,True,True,True,penthouse,3,True,15500.00
195093,Bayern,München,80539,2015,20466.12,17781.12,2685.0,362.88,5,NaN,...,True,14,7.43,True,False,True,NaN,999,False,20466.12
207700,Berlin,Berlin,14109,1920,11100.00,9000.00,2100.0,520.00,5,gas_heating,...,True,25,6.15,True,True,False,maisonette,999,True,11100.00

In [28]:
# changing column position of Rent column to a new position for better view
col = df1.pop('Rent')

# insert the popped out column to a new position
df1.insert(5, 'Rent', col)

In [29]:
df1.loc[df1['Rent']>10000]

,State,City,Pincode,Year_constructed,Total_rent,Rent,Base_rent,Maintenance_fee,Area(m2),Rooms,...,Newly_built,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden
1270,Hessen,Frankfurt_am_Main,60487,2019,11200.00,11200.00,10000.00,1200.0,440.00,5,...,True,True,3,5.10,True,True,True,apartment,1,False
11058,Hessen,Frankfurt_am_Main,60322,1900,13400.00,13400.00,12000.00,1400.0,600.00,5,...,False,True,2,5.13,False,False,True,maisonette,4,False
20157,Nordrhein_Westfalen,Bochum,44809,1928,794.29,146766.29,648.29,146118.0,117.87,3,...,False,False,6,4.74,False,True,False,apartment,1,False
29834,Hamburg,Hamburg,20457,2018,11900.00,12500.00,10500.00,2000.0,207.07,5,...,True,True,20,NaN,False,True,True,apartment,23,False
44810,Bayern,München,80538,2016,15000.00,14550.00,13000.00,1550.0,269.00,5,...,False,True,12,4.89,True,False,True,NaN,999,False
47807,Berlin,Berlin,14195,2008,15500.00,15500.00,12000.00,3500.0,364.00,4,...,False,True,19,7.69,True,True,True,penthouse,3,True
51270,Berlin,Berlin,10629,1900,9774.00,10260.00,9500.00,760.0,274.00,5,...,False,True,16,6.83,True,True,True,roof_storey,999,False
55647,Berlin,Berlin,12209,2018,11216.00,11216.00,10816.00,400.0,416.00,5,...,True,True,34,8.01,True,False,True,NaN,0,True
55685,Bayern,München,80333,2008,12900.00,12900.00,10700.00,2200.0,277.00,4,...,False,True,5,7.43,True,True,True,apartment,4,False
75298,Bayern,München,81675,2015,12000.00,12000.00,11400.00,600.0,427.00,5,...,False,True,17,5.71,True,True,False,loft,6,False
88044,Bayern,München,81925,2019,11480.00,11480.00,10700.00,780.0,236.60,5,...,True,True,14,5.23,True,True,True,penthouse,3,True
92694,Nordrhein_Westfalen,Düsseldorf,40545,2013,13344.00,13344.00,12000.00,1344.0,420.00,5,...,False,True,16,3.45,True,True,True,penthouse,4,False
113091,Nordrhein_Westfalen,Minden_Lübbecke_Kreis,32549,2013,530.00,20738.08,346.08,20392.0,65.27,2,...,False,True,9,5.17,False,True,True,ground_floor,0,True
120074,Sachsen,Dresden,1237,2018,732.00,16317.00,567.00,15750.0,63.00,2,...,True,True,6,1.53,False,True,True,ground_floor,0,True
120828,Hessen,Frankfurt_am_Main,60487,2019,11700.00,11700.00,10500.00,1200.0,405.00,5,...,True,True,3,5.10,True,True,True,apartment,2,False
127505,Berlin,Berlin,10117,2012,15000.00,15000.00,15000.00,0.0,456.00,4,...,False,True,27,8.77,True,True,True,other,999,False
137704,Bremen,Bremen,28277,1957,449.90,31068.00,30990.00,78.0,47.67,3,...,False,False,2,4.62,False,True,False,roof_storey,2,False
138210,Berlin,Berlin,10117,2017,19600.00,19600.00,15800.00,3800.0,565.00,5,...,False,True,35,8.55,True,True,True,NaN,999,True
139011,Sachsen_Anhalt,Stendal_Kreis,39576,1909,341.28,10278.90,240.90,10038.0,40.15,1,...,False,False,11,2.48,False,False,False,NaN,1,False
148246,Berlin,Berlin,10785,2004,26500.00,26500.00,20000.00,6500.0,566.00,5,...,False,False,30,8.28,True,False,True,apartment,17,False
152966,Berlin,Berlin,10179,1998,13000.00,12600.00,12000.00,600.0,300.00,4,...,False,True,14,8.70,True,True,True,apartment,3,True
166380,Bayern,München,80538,1892,2390.00,20240.00,20100.00,140.0,110.00,3,...,False,True,15,6.49,False,True,False,apartment,3,False
174255,Berlin,Berlin,10117,2008,12300.00,12300.00,11000.00,1300.0,403.00,4,...,False,True,16,8.70,True,True,False,apartment,0,False
175853,Berlin,Berlin,10117,2011,16800.00,16800.00,16000.00,800.0,456.00,4,...,False,True,30,8.55,True,False,True,apartment,0,False
178359,Berlin,Berlin,10117,2012,16800.00,16800.00,16000.00,800.0,456.00,4,...,False,True,16,8.55,True,True,True,loft,4,True
188366,Berlin,Berlin,14195,2008,15500.00,15500.00,12000.00,3500.0,364.63,4,...,False,True,18,6.26,True,True,True,penthouse,3,True
195093,Bayern,München,80539,2015,20466.12,20466.12,17781.12,2685.0,362.88,5,...,False,True,14,7.43,True,False,True,NaN,999,False
207700,Berlin,Berlin,14109,1920,11100.00,11100.00,9000.00,2100.0,520.00,5,...,False,True,25,6.15,True,True,False,maisonette,999,True

In [30]:
# dropping unnatural values
df1 = df1.drop([20157, 113091, 120074, 137704, 139011, 166380])

#### Total_rent column had lot of 0 values. It is nothing but a combination of base rent and maintenance fee. So, the column Rent was created by adding base rent & Maintenace fee and added to the same dataframe. By doing this it eliminates the unknown values in Total rent. Also, the Rent column has been cleaned by dropping unnatural values, replacing value from Total_rent column by checking with rent column. Finally, the rent column had lot of 0 value and it was replaced from the Total rent column.

#### 2. Area column check

In [31]:
# cheking for column Area(m2)
df1.loc[df1['Area(m2)'] > 600] = 0
#changing all the area value more than 600 to 0. 
# As, those values in Area were not possible. For Example: area with more than 145000 msquare meter.

In [32]:
# rechecking 
df1.loc[df1['Area(m2)'] > 550]

,State,City,Pincode,Year_constructed,Total_rent,Rent,Base_rent,Maintenance_fee,Area(m2),Rooms,...,Newly_built,Balcony,Picture_count,Price_trend,Kitchen,Cellar,Lift,Flat_type,Floor,Garden
11058,Hessen,Frankfurt_am_Main,60322,1900,13400.0,13400.0,12000.0,1400.0,600.0,5,...,False,True,2,5.13,False,False,True,maisonette,4,False
76180,Bayern,Straubing,94315,2016,340.0,340.0,340.0,0.0,600.0,5,...,False,False,7,5.96,True,False,False,NaN,999,False
138210,Berlin,Berlin,10117,2017,19600.0,19600.0,15800.0,3800.0,565.0,5,...,False,True,35,8.55,True,True,True,NaN,999,True
148246,Berlin,Berlin,10785,2004,26500.0,26500.0,20000.0,6500.0,566.0,5,...,False,False,30,8.28,True,False,True,apartment,17,False

In [33]:
# dropping unnatural value
df1=df1.drop(76180)

#### 3. Heating_type column check

In [35]:
# 1. Heating_type column check
df1['Heating_type'].value_counts(dropna=False)

central_heating                   103688
NaN                                28151
district_heating                   21821
floor_heating                      15412
gas_heating                        14638
self_contained_central_heating     14591
oil_heating                         3761
heat_pump                           2516
combined_heat_and_power_plant       1822
night_storage_heater                1016
wood_pellet_heating                  820
electric_heating                     609
stove_heating                        263
solar_heating                        150
0                                      9
Name: Heating_type, dtype: int64

In [40]:
# Grouping missing values and 0 values
# filling missing values as Other
df1['Heating_type']=df1['Heating_type'].fillna('Other')

In [42]:
# Replacing 0 value as Other
df1['Heating_type']=df1['Heating_type'].replace(0, 'Other')

In [43]:
df1['Heating_type'].value_counts(dropna=False)

central_heating                   103688
Other                              28160
district_heating                   21821
floor_heating                      15412
gas_heating                        14638
self_contained_central_heating     14591
oil_heating                         3761
heat_pump                           2516
combined_heat_and_power_plant       1822
night_storage_heater                1016
wood_pellet_heating                  820
electric_heating                     609
stove_heating                        263
solar_heating                        150
Name: Heating_type, dtype: int64

#### 4. State column check

In [48]:
# State column check
df1['State'].value_counts(dropna=False)

Nordrhein_Westfalen       50495
Sachsen                   43110
Bayern                    17052
Sachsen_Anhalt            15772
Hessen                    13442
Niedersachsen             13025
Baden_Württemberg         11794
Berlin                     8890
Thüringen                  6478
Rheinland_Pfalz            5988
Brandenburg                5832
Schleswig_Holstein         5559
Mecklenburg_Vorpommern     5414
Hamburg                    3228
Bremen                     2169
Saarland                   1010
0                             9
Name: State, dtype: int64

In [55]:
# removing rows with 0
unwanted_rows=df1.loc[df1['State']==0].index

In [56]:
# dropping unwanted rows
df1=df1.drop(unwanted_rows)

#### 5. City column check

In [61]:
# City column check
df1['City'].value_counts(dropna=False)

Leipzig                                    9956
Berlin                                     8890
Chemnitz                                   8639
Dresden                                    6307
Magdeburg                                  4028
                                           ...
Neustadt_a.d._Aisch_Bad_Windsheim_Kreis      16
Haßberge_Kreis                               15
Neustadt_a.d._Waldnaab_Kreis                 13
Freyung_Grafenau_Kreis                       13
Kronach_Kreis                                10
Name: City, Length: 419, dtype: int64

In [63]:
# Exporting the data 
df1.to_csv(os.path.join(path,'02 Data','Prepared Data','immodata_new4.csv'))

#### 6. House_condition check

In [67]:
# House_condition column check
df1['House_condition'].value_counts(dropna=False)

well_kept                             53909
NaN                                   48828
fully_renovated                       20022
refurbished                           20015
first_time_use                        19644
mint_condition                        18756
modernized                            13819
first_time_use_after_refurbishment    11354
negotiable                             1846
need_of_renovation                     1064
ripe_for_demolition                       1
Name: House_condition, dtype: int64

In [68]:
df1['House_condition'].fillna('Other', inplace=True)

In [69]:
df1['House_condition'].value_counts(dropna=False)

well_kept                             53909
Other                                 48828
fully_renovated                       20022
refurbished                           20015
first_time_use                        19644
mint_condition                        18756
modernized                            13819
first_time_use_after_refurbishment    11354
negotiable                             1846
need_of_renovation                     1064
ripe_for_demolition                       1
Name: House_condition, dtype: int64

In [71]:
# removing the last row as it is not suitable for rental purpose
u_r=df1.loc[df1['House_condition'] == 'ripe_for_demolition'].index

#dropping the above df
df1=df1.drop(u_r)

In [74]:
# grouping the last 2 condition in the cell 69 as Other
#creating a list with the 2
u_r1 = ['negotiable', 'need_of_renovation']

#replacing value as Other
df1['House_condition']=df1['House_condition'].replace(u_r1, 'Other')

In [75]:
df1['House_condition'].value_counts(dropna=False)

well_kept                             53909
Other                                 51738
fully_renovated                       20022
refurbished                           20015
first_time_use                        19644
mint_condition                        18756
modernized                            13819
first_time_use_after_refurbishment    11354
Name: House_condition, dtype: int64

#### 7. TV_offer column check

In [76]:
# checking the column
df1['TV_offer'].value_counts(dropna=False)

ONE_YEAR_FREE    176722
NaN               26030
NONE               3701
ON_DEMAND          2804
Name: TV_offer, dtype: int64

In [80]:
# filling missing values as not available
df1['TV_offer']=df1['TV_offer'].fillna('NOT_AVAILABLE')

In [82]:
#replacing NONE value as not available
df1['TV_offer']=df1['TV_offer'].replace('NONE', 'NOT_AVAILABLE')

#### 8. Flat_type column check

In [84]:
# checking the column
df1['Flat_type'].value_counts(dropna=False)

apartment              105798
NaN                     27637
roof_storey             25877
ground_floor            24716
maisonette               7030
other                    6258
raised_ground_floor      3955
penthouse                3137
terraced_flat            2701
half_basement            1515
loft                      633
Name: Flat_type, dtype: int64

In [85]:
# filling missing values as not available
df1['Flat_type']=df1['Flat_type'].fillna('other')

In [86]:
df1['Flat_type'].value_counts(dropna=False)

apartment              105798
other                   33895
roof_storey             25877
ground_floor            24716
maisonette               7030
raised_ground_floor      3955
penthouse                3137
terraced_flat            2701
half_basement            1515
loft                      633
Name: Flat_type, dtype: int64

#### 9. Price_trend column check

In [87]:
# checking the column
df1['Price_trend'].value_counts(dropna=False)

 0.00    8249
 3.33    1754
 3.23    1588
 3.85    1506
 NaN     1497
         ...
 8.71       1
 9.60       1
-0.27       1
-1.50       1
-1.83       1
Name: Price_trend, Length: 1208, dtype: int64

In [88]:
# filling missing values as 0
df1['Price_trend']=df1['Price_trend'].fillna(0)

# 4a. Missing values check:

In [90]:
# Final check for missing values 

df1.isnull().sum()  # No missing values!

State               0
City                0
Pincode             0
Year_constructed    0
Total_rent          0
Rent                0
Base_rent           0
Maintenance_fee     0
Area(m2)            0
Rooms               0
Heating_type        0
House_condition     0
TV_offer            0
Newly_built         0
Balcony             0
Picture_count       0
Price_trend         0
Kitchen             0
Cellar              0
Lift                0
Flat_type           0
Floor               0
Garden              0
dtype: int64

# 4b. Duplicates check:

In [94]:
# Find duplicates
df1_dups = df1[df1.duplicated()]

# print the duplicates
print(df1_dups)

                    State            City  Pincode  Year_constructed  \
15680      Sachsen_Anhalt     Halle_Saale     6132              1983
56812   Baden_Württemberg  Waldshut_Kreis    79790              2017
134819     Sachsen_Anhalt      Saalekreis     6242              1963

        Total_rent     Rent  Base_rent  Maintenance_fee  Area(m2)  Rooms  ...  \
15680       341.26   341.26     276.26            65.00     56.96      3  ...
56812      1205.00  1205.00     935.00           270.00     89.50      3  ...
134819      533.26   444.38     355.50            88.88     59.25      2  ...

       Newly_built Balcony Picture_count Price_trend Kitchen  Cellar   Lift  \
15680        False    True             3        1.61   False    True  False
56812        False    True             8        1.79    True    True   True
134819       False    True             1       -0.20   False   False   True

           Flat_type Floor Garden
15680      apartment     5  False
56812   ground_floor   999  False
134819         other     3  False

[3 rows x 23 columns]

In [98]:
# drop the duplicates
df1=df1.drop_duplicates()

In [99]:
df1_dups.shape # No duplicates!

(0, 23)

# 4c. Mixed-Type Data:

In [101]:
# checking for mixed data type
for col in df1.columns.tolist():
      weird = (df1[[col]].applymap(type) != df1[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df1[weird]) > 0:
        print (col)
# No mixed-type columns either!

In [102]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209254 entries, 0 to 209291
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             209254 non-null  object
 1   City              209254 non-null  object
 2   Pincode           209254 non-null  int64
 3   Year_constructed  209254 non-null  int64
 4   Total_rent        209254 non-null  float64
 5   Rent              209254 non-null  float64
 6   Base_rent         209254 non-null  float64
 7   Maintenance_fee   209254 non-null  float64
 8   Area(m2)          209254 non-null  float64
 9   Rooms             209254 non-null  int64
 10  Heating_type      209254 non-null  object
 11  House_condition   209254 non-null  object
 12  TV_offer          209254 non-null  object
 13  Newly_built       209254 non-null  object
 14  Balcony           209254 non-null  object
 15  Picture_count     209254 non-null  int64
 16  Price_trend       209254 non-null  float64
 17  Kitchen           209254 non-null  object
 18  Cellar            209254 non-null  object
 19  Lift              209254 non-null  object
 20  Flat_type         209254 non-null  object
 21  Floor             209254 non-null  int32
 22  Garden            209254 non-null  object
dtypes: float64(6), int32(1), int64(4), object(12)
memory usage: 37.5+ MB

In [103]:
# Exporting the data 
df1.to_csv(os.path.join(path,'02 Data','Prepared Data','immodata_new5.csv'))